.home {
    --bd-purple: #00225c;
    --bd-violet: #006bc2;
    --bd-accent: #5ca0ff;
    --bd-violet-rgb: 0, 34, 92;   /* RGB version of #0853d4 */
    --bd-accent-rgb: 0, 107, 194; /* RGB version of #5da0ff */
    --bd-pink-rgb: 92, 160, 255; 

    .bd-masthead {
        padding: 3rem 0;
        background-image: linear-gradient(180deg, rgba(var(--bs-body-bg-rgb), 0.01), rgba(var(--bs-body-bg-rgb), 1) 85%),radial-gradient(ellipse at top left, rgba(var(--bs-primary-rgb), 0.5), transparent 50%),radial-gradient(ellipse at top right, rgba(var(--bd-accent-rgb), 0.5), transparent 50%),radial-gradient(ellipse at center right, rgba(var(--bd-violet-rgb), 0.5), transparent 50%),radial-gradient(ellipse at center left, rgba(var(--bd-pink-rgb), 0.5), transparent 50%);
    }

    .btn-bd-primary {
        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: #00225d;
        --bs-btn-border-color: #00225d;
        --bs-btn-border-radius: .5rem;
        --bs-btn-hover-color: #00225d;
        --bs-btn-hover-bg: #00225d;
        --bs-btn-hover-border-color: #00225d;
        --bs-btn-focus-shadow-rgb: #00225d;
        --bs-btn-active-color: #00225d;
        --bs-btn-active-bg: #00225d;
        --bs-btn-active-border-color: #00225d;
    }
}

.navbar {
    @extend .navbar-dark;
    
    padding: .75rem 0;
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(var(--bd-violet-rgb), 1), rgba(var(--bd-violet-rgb), 0.95));
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15),inset 0 -1px 0 rgba(0,0,0,0.15);
}

.text-violet {
    color: #00225c;
}

.list {
    .card {
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: scale(1.01);
        }
    }
}

.navbar-brand {
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: rotate(-2deg) scale(1.1);
    }
}
