{{ define "main" }}

<section class="section bd-masthead" style="background-color: #5ca0ff;">
  <div class="container-xxl" >
    <div class="col-md-8 mx-auto text-center my-5">
      <img class="d-block mx-auto mb-3" src="{{ `images/mail-bites-logo-2.png` | relURL }}" width="200" height="200" alt="Bootstrap">
      <h1 class="display-4 fw-semibold mb-3" style="color: #00225c;">{{ .Site.Title }}</h1>
      <p class="lead mb-4">{{ .Site.Params.Description }}</p>
      <a class="btn btn-bd-primary" href="https://github.com/mxmzhang/mail-bites" role="button">Try It Now</a>
    </div>
  </div>
</section>

<section class="section container my-3">
  {{ partial "features" . }}
</section>



{{ end }}